# Supabase Configuration
# Masukkan Project URL Supabase Anda
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co

# Masukkan Supabase Anon Key (atau publishable key)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sbp_your_publishable_key_here

