# Supabase Configuration
# Masukkan Project URL Supabase Anda
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co

# Masukkan Supabase Publishable Key (atau anon key)
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sbp_your_publishable_key_here

# (Opsional) PIN Tim bersama 
NEXT_PUBLIC_TEAM_PASSCODE=
